<%= form_for(@password_reset) do |f| %>
  <% if @password_reset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@password_reset.errors.count, "error") %> prohibited this password_reset from being saved:</h2>

      <ul>
      <% @password_reset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
