<div class="group">
<%= form_for(@group) do |f| %>




    <input class="picker color {valueElement:'tfcolour',hash:true}" />

    <%= f.text_field :name, :class => "textarea searcharea floatleft", :placeholder => "New Group..." %>
      <span class="floatright">
         <%= f.submit '', :class=> 'button accept without right', :title=>'New Group' %>
      </span>
    <!--hidden colortextfield-->
    <%= f.text_field :colour, :id => "tfcolour", :class => "displaynone textarea small {hash:true}" %>


<% end %>
</div>