<%= render 'appointments/nav' %>

<div id="cont">
  <section class="appointments">
    <h1>Edit <%= current_user.login %>'s Account</h1>
  <section class="notify">
    <%= flash[:notice] %>
  </section>

  <%= render 'form' %>

</section>
</div>
<footer>

</footer>


