<div id="cont">
  <section class="appointments">

    <h1>Register</h1>

    <section class="notify">
       <%= flash[:notice] %>
    </section>


        <%= render 'form' %>

  </section>
</div>
<footer>
</footer>