<%= render 'appointments/nav' %>
<div id="cont">
  <section class="appointments">

    <h1>Register</h1>

    <div class="formular">
        <%= render 'form' %>
    </div>
  </section>
</div>
<footer>
</footer>