<section>
<div class="field">
<h4>Find a new Friend! </h4>
<p id="notice"><%= notice %></p>


    <label class="label">Username</label>


<% @users.each do |user| %>


    <% unless user== current_user %>

        <label><%= user.login %></label>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    <%end%>
<% end %>
    </div>
</section>