
<div class="field">
    <h4>Find a new Friend! </h4>
    <p id="notice"><%= notice %></p>

    <% @users.each do |user| %>


        <% unless user== current_user %>
            <ul>
                <td><label><%= user.login %></label> </td>
                <td><%= link_to "[Add Friend]", friendships_path(:friend_id => user), :method => :post %></td>
            </ul>
        <%end%>
    <% end %>

</div>
