<header>
  <% if not current_page? :controller => 'calendar', :action => 'index' %>
  <div id="navbar">

    <div class="navleft">
      <ul>
       <% if current_user %>
          <li><h1><%= link_to "#{current_user.login}'s Agenda", appointments_path, :class => "title" %></h1></li>
       <% else %>
          <li><h1>Get Your Agenda</h1></li>
       <% end %>
      </ul>
    </div>
    <div class="navright">

        <% if current_user %>

            <% if current_user.admin? %>
              <%= link_to '',  users_path, :class=> 'button users', :alt => 'Users', :title => 'Users' %>
            <% end %>
            <a id="btSettings" class='button settings left' href="#" title="Settings"></a>
            <%= link_to '', :logout, :class=> 'button logout right', :alt => 'Logout', :title => 'Logout'%>
        <% else %>
        <% end %>
    </div>
  </div>

  <%= render :partial => "header/settings" %>


   <% end %>
</header>