/*
  Event Calendar stylesheet

  Colors:
  #d5d5d5 - border (gray)
  #303030 - day names bg (gray)
  #444 - number (gray)
  #ecede2 - day header bg (light tan)
  ##d7d7ba - today header bg (tan)
  #ffffdd - today bg light (yellow)
  #777 - other month number (gray)
  #efefef - other month day header (gray)
  #2eac6a - hover (green)
*/

/* Outer most container */
.ec-calendar {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

/* Month name header & links */
.ec-calendar-header {
  border:  none;
  float: right;
}

.ec-month-name {

}

.ec-next-month {
    position: relative;
    left: -2px;
}
.ec-month-nav {
}

/* Containers */
.ec-body {
  position: relative;
  white-space: nowrap;
}

/* Day names */
.ec-day-names {
  position: relative;
  width: 100%;
  table-layout: fixed;
  padding: 18px 0 0;
  background: transparent;
}

.ec-day-name {
  font-weight: normal;
  color: #666699;
}

/* Rows container and Row */
.ec-rows {
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;

}

.ec-row {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* Background */
.ec-row-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;

}

.ec-day-bg {
    background: #F6F6F2;
    border-collapse: collapse;
}

.ec-today-bg {
  background: #cccccc;
  border-collapse:collapse;

}

.ec-row-table {
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* Day header */
.ec-day-header {
  color: #666699;
  text-align: left;
  padding: 0 5px;
  line-height: 16px;
  background:  url(/images/bg_dialog.png) right;
  overflow: hidden;
  border-top: 1px solid #6678b1;

}

a.ec-day-link {
}

.ec-today-header {
}

.ec-weekend-day-header {
}

.ec-other-month-header {
  color: #cccccc;
}

.ec-other-month-bg {
    background: #ffffff;
}


/* Event cell and container */
.ec-event-cell {
  cursor: pointer;
  vertical-align: top;
  padding: 0 2px;
}

.ec-event-cell a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.ec-no-event-cell {
  cursor: default;
}

.ec-event {
  padding: 0 1px;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.ec-event :hover {

}

.ec-event-bg a {
}

/* used to distinguish non-all_day events */
.ec-event-no-bg {
  position: relative;
  /* padding-left: 5px; */
}

.ec-event-no-bg a {
}

.ec-event-time {
}


/* Left and right arrows */
/* Doesn't work in IE6, use bg images instead */
.ec-left-arrow, .ec-right-arrow {
  position: relative;
  top: 3px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  margin-bottom: -8px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.ec-left-arrow {
  margin-left: -7px;

  border-right: 4px solid white;
}

.ec-right-arrow {
  margin-left: auto;
  margin-right: 3px;
  border-left: 4px solid white;
}

/* remove this to not have a bullet */
/* don't look as good in ie */
.ec-bullet {
  position: absolute;
  top: 7px;
  width: 4px;
  height: 4px;
  margin-left: -7px;
  margin-right: auto;
  border-radius: 2px;
}
.time{
}
.time:hover{
}
.time span{
    font-size: 11pt;
    color: #666699;
}