a.button, input.button {
    background-image: url("/images/sprite_icons.png") !important;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    border:  1px solid #dcdcdc;
    position: relative;

    text-shadow: 0 1px 0 #fff;
    transition: border-color .218s;
    border-radius: 2px;

    cursor: pointer !important;
    float: left;
    min-height: 28px;
    min-width: 38px;
    vertical-align: middle
}

input.button{
    width: 40px;
    height: 30px;
}
a.button{
}
a.button:hover, input.button:hover {
    color: #333;
    border-color: #999;
    background-color: #F2F2F2;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active, input.button:active {
    color: #000;
    border-color: #444;
}
a.left, input.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 5px;
    margin-right: 0 !important;
}
a.middle, input.middle {
    border-radius: 0;
    border-left: solid 1px #F2F2F2;
    margin: 0;
}
a.middle:hover,
a.right:hover,
input.middle:hover,
input.right:hover {
    border-left: solid 1px #999;

}
a.right, input.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #F2F2F2;
    border-left: solid 1px rgba(255, 255, 255, 0);
    margin-right: 5px;
    margin-left: 0 !important;
}

.drop, .textarea{
    max-width: 200px;
    padding: 2px 0 2px 4px;
    color: #669;
    transition: border-color .218s;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
}

.textarea:hover, textarea:focus{
    color: #669;
    background: #fff;
}

.textarea{
    background:  #fff;
    line-height: 18pt;
}
.searcharea{
    margin-top: 0;
    padding: 2px 0;
    border-right: none;
    line-height: 18pt;
}

a.add, input.add{
    background-position: -40px -30px !important;
}
a.edit, input.edit{
    background-position: -40px -60px;
}
a.edittrans, input.edittrans{
    background-position: -120px -60px;
}
a.delete, input.delete{
    background-position: -40px -90px;
}
a.create, input.create{
    background-position: -40px -120px;
}
a.back, input.back{
    background-position: -40px -150px;
}
a.useradd, input.useradd{
    background-position: -40px -180px;
}
a.userremove, input.userremove{
    background-position: -40px -210px;
}
a.useredit, input.useredit{
    background-position: -40px -240px;
}
a.userinfo, input.userinfo{
    background-position: -40px -270px;
}
a.settings, input.settings{
    background-position: -40px -300px;
}
a.login, input.login{
    background-position: -40px -330px;
}
a.logout, input.logout{
    background-position: -40px -360px;
}
a.users, input.users{
    background-position: -40px -390px;
}
a.search, input.search{
    background-position: -40px -420px;
}
a.clear, input.clear{
    background-position: -80px -600px;
}
a.more, input.more{
    background-position: -40px -480px;

}
a.list, input.list{
    background-position: -40px -540px;
}
a.calendar, input.calendar{
        background-position: -40px -510px;
}
a.accept, input.accept{
    background-position: -120px -570px;
    background-color: #ffffff;
    border-left: none;
}
a.forward, input.forward{
        background-position: -40px -630px;
}
/******WITHOUT BACKGROUND*/
a.without, input.without{
    background-color: #ffffff;
    border-left: none;
}

a.without:hover, input.without:hover{
    background-color: #ffffff;
    border-color: #dcdcdc;
    border-left: none;
    box-shadow: none;
}

/******HOVER*/

a.add:hover, input.add:hover{
    background-color: transparent;
    box-shadow: none;
    background-position: 0 -30px !important;
}
a.edit:hover, input.edit:hover{
    background-position: 0 -60px;
}
a.edittrans:hover, input.edittrans:hover{
    background-position: -80px -60px;
}
a.create:hover, input.create:hover{
    background-position: 0 -120px;
}
a.delete:hover, input.delete:hover{
    background-position: 0 -90px;
}
a.back:hover, input.back:hover{
    background-position: 0 -150px;
}
a.useradd:hover, input.useradd:hover{
    background-position: 0 -180px;
}
a.userremove:hover, input.userremove:hover{
    background-position: 0 -210px;
}
a.useredit:hover, input.useredit:hover{
    background-position: 0 -240px;
}
a.userinfo:hover, input.userinfo:hover{
    background-position: 0 -270px;
}
a.settings:hover, input.settings:hover{
    background-position: 0 -300px;
}
a.login:hover, input.login:hover{
    background-position: 0 -330px;
}
a.logout:hover, input.logout:hover{
    background-position: 0 -360px;
}
a.users:hover, input.users:hover{
    background-position: 0 -390px;
}
a.search:hover, input.search:hover{
    background-position: 0 -420px;
}
a.clear:hover, input.clear:hover{
    background-position: -120px -90px;
}
a.more:hover, input.more:hover{
    background-position: 0 -480px;
}
a.list:hover, input.list:hover{
    background-position: 0 -540px;
}
a.calendar:hover, input.calendar:hover{
    background-position: 0 -510px;
}
a.accept:hover, input.accept:hover{
    background-position: -80px -570px;
}
a.forward:hover, input.forward:hover{
    background-position: 0 -630px;
}
.displaynone{
    display:none;
}

.smalltextarea{
    max-width: 100px;
    height: 18px;
    margin:  0 !important;
}