/**
* CSS Stylesheet
*
* Theme: Terminplaner Agenda
* Filename: main.css
* Author: Christoph Illmann
* Version: 21/11/2011
*/

*{
		margin: 0;
		padding:0;
		text-decoration: none;
		font-family: "Kozuka Gothic Pro","Myriad Pro","Estrangelo Edessa", "Arial", sans-serif;
		font-size: 12px;
		line-height: 18pt;
        color: #000000;
		border-style: none;
		border-width: 0;
		}

	h1, h2, h3 {
        font-size: 16pt;
		color: #5C1F54;
	}
	h4, h5, h6 {

		font-size: 16px;
		color: #009999;
    }

	p{}

    a{
         font-size: 14px;
         color: #FF9575;
    }
    a:visited{
         color: #FF9575;
    }
    a:focus{
        color: #ff0000;
    }
    a:hover{
        color: #ff0000;
    }


	ul, ol{
		list-style-type: none;
        list-style-position: inside;
	}
	img{
		border-style: none;
		border-width: 0;
	}

	body{
		}
    #wrap{
	    margin:0;
	    position:relative;
        width: 100%;
        height: auto;
    }
    header{
        height: 55px;
    }
    #cont{
    }
        section{
            float: left;
            position:relative;
            margin-left: 10px;
        }
            .appointments{
                border-right: 1px solid #6678b1;
                width: 730px;
            }
            .notify{
                position:relative;
                top: 20px;
                font-size: 20px;
                color: #ff0000;
                max-width: 640px;
            }
             .reminder{

                width: 600px;
                padding: 5px 10px;
                margin: 10px 0 0 45px;
                border-radius: 4px;
            }
            .reminder ul{
                list-style-type: disc;

            }
            .reminder ul li{
                color: #FF9575;
                list-style: none;
                font-size: 11pt;
            }
            .newappointment{
            }
                .field, .actions{
                   padding: 5px 8px;
                }
                .field{
                   background: #F5F5F5;
                   border-radius: 4px;
                }
                .formular{
                    margin: 45px;
                }
                .label{
                    margin-left:5px;
		            font-size: 14px;
		            color: #003399;
                    clear: both;
                    display:block;
                }

    footer{
        height:30px;
        position:relative;
        text-align:right;
    }
