 #navbar{
    height: 30px;
    width: 100%;
    background:  #adafba;
    padding: 5px 15px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2000;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    #navbar ul{
        padding-right: 20px;
    }
    #navbar ul.info{
        float:left;
    }
    #navbar ul.info li{
        font-size: 16pt;
        color: #f3f3f3;
    }
    #navbar ul li{
        float: left;
        text-align: right;
    }
 .logo {
     width: 32px;
     height: 32px;
     padding-right: 10px;
 }

.left{
    float: left;
}
.right{
    float:right;
    margin-right: 15px;
}