#Settings{
    width: 100%;
    min-height: 100px;
    padding: 5px 15px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
    z-index: 2000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#settingsbg{
    width: 100%;
    height: 100%;
}
.opac{
    background: #F2F2F2;
    opacity: 0.7;
}
.visible{
    display: block !important;
}
.noborder{
    border: none !important;
}