table{
	font-size: 1em;
	background: #fff;
	margin: 45px;
	width: 640px;
	border-collapse: collapse;
	text-align: left;
}
    /*table header*/
    thead{
        border-bottom: 2px solid #6678b1;
    }
    thead th{
        font-size: 14px;
        font-weight: normal;
        color: #6678b1;
        padding: 10px 8px;
        text-align: center;
    }
    thead th a{
        font-size: 14px;
        font-weight: normal;
        color: #6678b1;
    }
    thead th a:visited{
        color: #666699;
    }
    thead th a:hover{
        color: #666699;
        background: none;
    }

    /*table data*/
    td{
       border-bottom: 1px solid #6678b1;
        color: #6678b1;
        padding: 6px 8px;

    }
    td .tdnote{
        text-align: justify;
    }
    .tdtools{
         width:150px;
    }
    tbody tr:hover td{
        color: #666699;
        background:  #E5E5FF;
    }
    tbody tr:nth-child(odd){
        background: #F6F6F2;
    }