table.pretty{
	font-size: 1em;
	background: #fff;

	width: 640px;
	border-collapse: collapse;
	text-align: left;

}
    /*table header*/
    table.pretty > thead{
        border-bottom: 2px solid #6678b1;
    }
    table.pretty > thead th{
        font-size: 14px;
        font-weight: normal;
        color: #6678b1;
        padding: 10px 8px;
        text-align: center;
        white-space: nowrap;
    }
    table.pretty > thead th a{
        font-size: 14px;
        font-weight: normal;
        color: #6678b1;
    }
    table.pretty > thead th a:visited{
        color: #666699;
    }
    table.pretty > thead th a:hover{
        color: #666699;
        background: none;
    }

    /*table data*/
    table.pretty > tbody > tr > td{
       border-bottom: 1px solid #6678b1;
        color: #6678b1;
        padding: 6px 8px;

    }
    table.pretty > tbody > tr > td.tdnote{
        text-align: justify;
    }
    table.pretty > tbody > tr > td.tdtools{
             white-space: nowrap;
    }
    table.pretty > tbody tr:hover td{
        color: #666699;
        background:  #CCCCCC;
    }
    table.pretty > tbody tr:nth-child(odd){
        background: #F6F6F2;
    }