
  <br>
<br> Appointment in XML

<br>
<%=  apps.to_xml    %>
 <br>
  <br>
   <br>

 <span class="floatright">
   <%= link_to 'back', :action => :index, :class=> 'button create', :title=>'Save Appointment' %>
 </span>
