<header>

</header>
<div id="cont">
  <section class="appointments">

    <h1>Editing appointment</h1>

    <div class="formular">
        <%= render 'form' %>
        <%= link_to 'Back', appointments_path, class: 'button right' %>
    </div>
    </section>
</div>
<footer>
</footer>