
<div id="cont">
  <section class="appointments">

    <h1>Editing appointment</h1>

    <div class="formular">
        <%= render 'form' %>
        <script language="Javascript">
            document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
        </script>
    </div>
  </section>
</div>
<footer>
</footer>