<section>


   <%= render :partial => 'appointments/tabs' %>

  <div class="padded-body">
  <h4>Generate and Download XML Document</h4>

  <div style="text-align: center;">
     <%=link_to "Download all as xml", :action => "send_xml_file" %>
     <%=link_to "Show as xml", :action => "show_with_xml" %>
  </div>
</div>
</section>

<div id="AddNewAppointment">
    <%= render 'form' %>
</div>

