<section>


   <%= render :partial => 'appointments/tabs' %>

  <div class="padded-body">
  <h4>Generate and Download Sample XML Document</h4>

  <div style="text-align: center;">
    <%=link_to "download all in index", :action => "generate_with_rexml" %>

  </div>
</div>
</section>

<div id="AddNewAppointment">
    <%= render 'form' %>
    <div class="notify">
        <%= flash[:notice] %>
    </div>
</div>

