
<%= render 'appointments/nav' %>
<div id="cont">
  <section class="appointments">


    <div class="formular">
        <label for="date" class="label">Date</label>
        <p><%= @appointment.date %></p>

      <label for="note" class="label">Note:</label>
      <p><%= @appointment.note %></p>

           <script language="Javascript">
                document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
            </script>

      </div>
  </section>
</div>
<footer>

</footer>