
<%= render 'appointments/nav' %>
<div id="cont">
  <section class="appointments">


    <div class="formular">
<p>

    <b> <label for="date" class="label">Date</label></b>
    <%= @appointment.date %>

</p>

<p>
  <b> <label for="note" class="label">Note:</label></b>
  <%= @appointment.note %>
</p>
       <script language="Javascript">
            document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
        </script>

      </div>
  </section>
</div>
<footer>
</footer>