<header>

  <div id="navbar">

    <ul class='info'>
     <li>Today:<%= Time.now.strftime('%A, %d. %B %Y')%></li>
    </ul>
    <ul>
      <li><input type='button' class='button settings'/></li>
    </ul>
  </div>
</header>