<div id="logintabs" class="noJquerycss">
        <ul class="noJquerycss">

            <li class= "noJquerycss "><a href="#logintabs-1" title="Login" class="link">Login</a></li>
            <li class= "noJquerycss "><a href="#logintabs-2" title="Sign up" class="link">Sign up</a></li>
            <li class= "noJquerycss "><a href="#logintabs-3" title="Sign up" class="link"></a></li>
            <li class= "noJquerycss "><a href="#logintabs-4" title="What's Yagenda?" class="link">What's YAGENDA?</a></li>
        </ul>

	<div id="logintabs-1">
        <%= render :partial => 'user_sessions/form' %>
    </div>
	<div id="logintabs-2">
        <%= render :partial => 'users/form' %>
    </div>
    <div id="logintabs-3">
        <%= render 'password_resets/form' %>
    </div>
    <div id="logintabs-4">
        <%= render :partial => 'whatsyagenda' %>
    </div>



</div>


