<h4>What's YAGENDA?</h4>

<label class="label2">
  <ul>
    <li>YAGENDA remembers all your Appointments.</li>

    <li>It reminds you of your Dates.</li>

    <li>It even shares your Meetings with Friends and Colleagues.</li>
  </ul>
</label>

<label class="label">Its Your Agenda!</label>


