<%= form_for(@user_session) do |f| %>

   <h1>Yagenda!</h1>
    <h3>merkt sich alles, was du dir nicht merken kannst.</h3>
  <div class="field">
    <label class="label" >Yagenda ist ein interaktiver Terminplaner,
      der sich deine Termine merkt, dich an deine verabredungen
      erinnert und Termine mit Freunden teilen lässt</label>

  </div>
    <div class="field">
    <label class="label" >Wer es einfach mag, und von überall
      seinen Termine aus erreichen möchte ist hier richtig! Einfach ein
      prima Terminplaner.</label>

  </div>

<% end %>
