<%= form_for(@user_session) do |f| %>
  <div class="field">
   <h1>YAGENDA!</h1>
    <h4>Remembers everything you can't.</h4>

    <label class="label2" >YAGENDA is your personal interactive Agenda.
      It remembers all your dates and meetings, reminds you of all the important stuff like your granny's birthday,
      the hang out with your mates, your wedding day and that serious business dinner your boss invited you to.
      and even let's you share them with friends, family and colleagues!
      </label>

    <label class="label2" >If you always need to be up to date even on the go you're right!
    YAGENDA is a very simple tool that will help you make your daily life a little easier.</label>
    <h4>It's Your Agenda!</h4>

  </div>

<% end %>
