  <section class="newappointment">

    <h1>Welcome to your Agenda</h1>
         <section class="notify">
           <%= flash[:notice] %>
         </section>
            <%= render 'form' %>
  </section>
