<h1>Welcome to your online Agenda</h1>

<p>Feel free to log in to your account and check out your newest Dates.</p>

<%= render 'form' %>

<p>If u haven't your own Online Scheldule yet, please do register <%= link_to "here", new_user_path%> </p>

<%= link_to 'Back', user_sessions_path %>
