<%= render 'nav' %>
<div id="cont">

  <section class="newappointment">

    <h1>Welcome to your Online Appointments Manager</h1>
        <div class="formular">
            <p>Feel free to log in to your account and check out your newest Dates.</p>

            <%= render 'form' %>
            <p>If u haven't your own OAM yet, please do register <%= link_to "here", new_user_path%> ! </p>
        </div>

  </section>
</div>
<footer>

</footer>