<p id="notice"><%= notice %></p>

<p>
  Login:
  <%= @user_session.login %>
</p>

<p>
  Password salt:
  <%= @user_session.password_salt %>
</p>


<%= link_to 'Edit', edit_user_session_path(@user_session) %> |

